{%layout 'layout.liquid'%}
{%block title%}
Penguin Comp - Composition Builder
{%endblock%}
{%block content%}
<style>
    body{
        text-align: center;
    }
</style>
<h1>Welcome to Penguin Comp</h1>
<h3>Please Signup or Login to Continue</h3>
<div>
    <a href="/user/signup"><button>Signup</button></a>
    <a href="/user/login"><button>Login</button></a>
</div>
{%endblock%}