{%layout 'layout.liquid'%}
{%block title%}
New Comp - Penguin Comp
{%endblock%}


{%block content%}
<h1>Add New Team Comp</h1>

<form action='/comps' method='post'>
    <label for="name">Comp Name: </label><input type='text' name='name'>
    <label for="top">Top: </label><input type="text" name="top">
    <label for="jg">Jungle: </label><input type="text" name="jg">
    <label for="mid">Mid: </label><input type="text" name="mid">
    <label for="adc">ADC: </label><input type="text" name="adc">
    <label for="sup">Sup: </label><input type="text" name="sup">
    <input type='submit' value="submit">
</form>
{%endblock%}