/* label[for="name"]{
    display:none;
}

input[name="name"]{
    display: none;
} */

body{
    text-align: center;
}
ul {
    list-style-type: none;
}

body div{
    margin: auto;
}

form{
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
}

#recommended-champs{
    width: 75vw;
    display: flex;
    justify-content: space-between;
}

#recommended-champs *{
    align-items: flex-start;
}

#champ-display{
    display: flex;
    justify-content: space-around;
}

input[type='submit']{
    margin: 0 auto;
}

@media only screen and (max-width: 992px){
    body{
        font-size: 1.2rem;
    }
    #champ-display{
        flex-direction: column;
    }
    form{
        width: 100%;
    }
    #recommended-champs{
        width: 80%;
        justify-content: space-around;
    }
}

