@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Scheherazade+New&display=swap');

body{
    background-image: url('https://1.bp.blogspot.com/-p21Z0LKHRBo/YGilRpXalNI/AAAAAAABJYQ/nO8JCKOpxfIDAaW0yokZj8A6IPx8vKxyACLcBGAsYHQ/s2048/EyD_b4BW8AUk9hg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Playfair Display', serif;
    /* font-family: 'Scheherazade New', serif; */
}

a{
    color: white;
    text-decoration: underline;
}

h1{
    color: white;
    font-weight: bold;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0,0,0,0.4)
}

.modal-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90vw;
    font-size: 1em;
}

.modal-content *{
    margin: 10px;
}

.close{
    align-self: flex-start;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 0;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.one-champ{
    cursor: pointer;
    width: 15vw;
}

.modal-img{
    width: 50%
}

#champ-stats{
    list-style-type: none;
    padding: 0;
}

.selectors{
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 10vw;
}

.selectors div{
    margin: 2em;
}

#delete-btn{
    background-color: red;
    margin-top: 15px;
    border: none;
}

.content{
    background-color: rgba(0,0,0,0.6);
    margin: auto;
    color: white;
    height: 100%;
}

select{
    background-color:white;
}

input[type="text"]{
    background-color: white;
}

@media only screen and (min-width: 1200px){
    .content{
        margin-top: 5vw;
        margin-bottom: 5vw;
    }
    .modal-content {
        width: 60vw;
    }
}